.right-col {
    border: 0.1rem solid black;
}

.error {
    color: red;
}

.file-image-preview {
    height: 5rem;
    max-width: 7rem;
}

.file-button {  
    cursor: pointer;
    overflow: hidden;
}

.custom-image-file > input {
    display: none;
}
