.right-col {
    border: 0.1rem solid black;
}

.warning {
    color: red;
}

.file-image-preview {
    height: 5rem;
    max-width: 7rem;
}

#fileButton {  
    cursor: pointer;
    overflow: hidden;
}
