{% extends 'inc/base.html' %}

{% load static %}

{% block title %}
<title>Ask a question</title>
{% endblock title %}

{% block styles %}
<link href="{% static 'css/ask.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<ul class="list-unstyled mr-5">
  <li class="top-bar mb-3">
    <h3 class="pr-2">New Question</h3>
  </li>
  <li>
    <form method="POST">
      {% csrf_token %}

      <div class="form-row mb-2">
        <label for="{{ form.title.id_for_label }}" class="col-form-label col-sm-3 col-md-2 mr-1">Title</label>
        {{ form.title }}
      </div>
      <div class="form-row mb-2">
        <label for="{{ form.text.id_for_label }}" class="col-form-label col-sm-3 col-md-2 mr-1">Text</label>
        {{ form.text }}
      </div>
      <div class="form-row mb-3">
        <label for="{{ form.tags.id_for_label }}" class="col-form-label col-sm-3 col-md-2 mr-1">Tags</label>
        {{ form.tags }}
      </div>
      <div class="form-row">
        <div class="col-sm-3 col-md-2 mr-1"></div>
        <button type="submit" class="right-col btn btn-outline-dark">Ask!</button>
      </div>
    </form>
  </li>
</ul>
{% endblock content %}
