{% extends 'inc/base.html' %}

{% load static %}

{% block title %}
<title>Hot questions</title>
{% endblock title %}

{% block styles %}
<link href="{% static 'css/hot_questions.css' %}" rel="stylesheet">
<link href="{% static 'css/bottom_navbar.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<ul class="list-unstyled mr-5">
  <li class="top-bar mb-3">
    <h3 class="mr-2">Hot questions</h3>
  </li>
  {% for question in page %}
    {% include 'inc/one_question.html' %}
  {% endfor %}
  {% include 'inc/bottom_navbar.html' %}
</ul>
{% endblock content %}