{% extends user.logged_in|yesno:'inc/base_logged.html,inc/base_unlogged.html' %}

{% load static %}

{% block title %}
<title>Welcome to AskMe</title>
{% endblock title %}

{% block styles %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<ul class="list-unstyled mr-5">
  <li class="top-bar mb-3">
    <h3 class="pr-2">New Questions</h3>
    <a href="#">Hot Questions</a>
  </li>
  {% for question in questions %}
    {% include 'inc/one_question.html' %}
  {% endfor %}
</ul>
{% endblock content %}
