{% extends 'inc/base.html' %}

{% load static %}

{% block title %}
<title>Log in</title>
{% endblock title %}

{% block styles %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<ul class="list-unstyled mr-5">
  <li class="top-bar mb-3">
    <h3 class="mr-2">Log In</h3>
  </li>
  {% if error %}
    <li>
      <p class="warning">{{ error }}</p>
    </li>
  {% endif %}
  <li class="mb-3">
    <form action="{{ request.get_full_path }}" method="POST">
      {% csrf_token %}

      <div class="form-row mb-2">
        <label for="{{ form.username.id_for_label }}" class="col-form-label col-sm-3 col-md-2 mr-1">Login</label>
        {{ form.username }}
      </div>
      <div class="form-row mb-3">
        <label for="{{ form.password.id_for_label }}" class="col-form-label col-sm-3 col-md-2 mr-1">Password</label>
        {{ form.password }}
      </div>
      <div class="form-row">
        <div class="col-sm-3 col-md-2 mr-1"></div>
        <button type="submit" class="right-col btn btn-outline-dark">Log in!</button>
      </div>
    </form>
  </li>
  <li class="row">
    <div class="col-sm-3 col-md-2 mr-2"></div>
    <a href="{% url 'signup' %}">Create new account</a>
  </li>
</ul>
{% endblock content %}
