{% extends 'inc/base.html' %}

{% load static %}

{% block title %}
<title>Question title will be here</title>
{% endblock title %}

{% block styles %}
<link href="{% static 'css/question.css' %}" rel="stylesheet">
<link href="{% static 'css/bottom_navbar.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<ul class="list-unstyled mr-5">
  {% include 'inc/one_question.html' %}
  <li>
    <hr id="answersStart">
  </li>
  {% if page %}
    {% for answer in page %}
      {% include 'inc/one_answer.html' %}
    {% endfor %}
    <li>
      <hr>
    </li>
  {% endif %}
  <li class="mb-3">
    <form>
      <div class="form-group">
        <textarea class="answer-block form-control" id="question-text" rows="4"
          placeholder="Enter your answer here..." aria-label="Enter your answer here"></textarea>
      </div>
      <button type="submit" class="answer-block btn btn-outline-dark">Answer</button>
    </form>
  </li>
  {% include 'inc/bottom_navbar.html' %}
</ul>
{% endblock content %}
