{% extends user.logged_in|yesno:'inc/base_logged.html,inc/base_unlogged.html' %}
{% load static %}

{% block title %}
<title>Question title will be here</title>
{% endblock title %}

{% block styles %}
<link href="{% static 'css/question.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<ul class="list-unstyled mr-5">
  {% include 'inc/one_question.html' %}
  <li>
    <hr id="answers-start">
  </li>
  {% for answer in answers %}
    {% include 'inc/one_answer.html' %}
  {% endfor %}
  <li>
    <hr>
  </li>
  <li>
    <form>
      <div class="form-group">
        <textarea class="answer-block form-control" id="question-text" rows="4"
          placeholder="Enter your answer here..." aria-label="Enter your answer here"></textarea>
      </div>
      <button type="submit" class="answer-block btn btn-outline-dark">Answer</button>
    </form>
  </li>
</ul>
{% endblock content %}
