{% extends 'inc/base.html' %}

{% load static %}

{% block title %}
<title>Question title will be here</title>
{% endblock title %}

{% block styles %}
<link href="{% static 'css/question.css' %}" rel="stylesheet">
<link href="{% static 'css/likesbox.css' %}" rel="stylesheet">
<link href="{% static 'css/bottom_navbar.css' %}" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/likeDislike.js' %}" charset="UTF-8"></script>
{% endblock scripts %}

{% block content %}
<ul class="list-unstyled mr-5">
  {% include 'inc/one_question.html' %}
  <li>
    <hr id="answersStart">
  </li>

  {% if page %}
    {% for answer in page %}
      {% include 'inc/one_answer.html' %}
    {% endfor %}
    <li>
      <hr>
    </li>
  {% endif %}

  <li class="mb-4">
    <form method="POST">
      {% csrf_token %}

      {% include 'inc/non_field_errors.html' %}

      {% if user.is_authenticated %}
        <div class="form-group">
          <label for="{{ form.text.id_for_label }}" class="sr-only">Your new answer</label>
          <div>
            {% if field.errors %}
              <ul class="list-unstyled">
                {% for error in form.non_field_errors %}
                  <li>
                    {{ error }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}

            {{ form.text }}
          </div>
        </div>
        <button type="submit" class="answer-block btn btn-outline-dark">Submit Answer</button>

      {% else %}
        <div class="form-group">
          <label for="{{ form.text.id_for_label }}" class="sr-only">You need to login to be able to answer</label>
          <textarea class="answer-block form-control" id="{{ form.text.id_for_label }}" rows="4"
           placeholder="Login to answer..." aria-label="Enter your answer here" disabled></textarea>
        </div>
        <a href="{% url 'login' %}?continue={{ request.path }}" class="answer-block btn btn-outline-dark">
          Log In To Answer
        </a>
      {% endif %}
    </form>
  </li>
  {% include 'inc/bottom_navbar.html' %}
</ul>
{% endblock content %}
