
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Profile Settings</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-4.5.3-dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Custom styles and scripts -->
    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/settings.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/fileInput.js" charset="UTF-8"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="index.html">Ask Mikhail</a>
      <div class="collapse navbar-collapse">
        <form class="search-form form-inline flex-grow-1 d-flex justify-content-center">
          <input class="search-bar w-50 form-control mr-2 flex-shrink-1" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 mr-2" type="submit">Search</button>
        </form>
        <ul class="navbar-nav">
          <li>
            <a class="nav-link p-0" href="#">
              <img src="../img/Toba.jpg" class="avatar-image" alt="avatar image">
            </a>
          </li>
          <li>
            <ul class="account-info list-unstyled ml-2">
              <li class="account-name">AccountName</li>
              <li>
                <a id="settings-link" href="settings.html">Settings</a>
                <a id="logout-link" href="#">LogOut</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <main class="container">
      <div class="row">
        <div class="col-10 main-content">
          <ul class="list-unstyled mr-5">
            <li class="top-bar mb-3">
              <h3 class="pr-2">Settings: AccountName</h3>
            </li>
            <li class="mb-3">
              <form enctype="multipart/form-data">
                <div class="form-row mb-2">
                  <label for="login" class="col-form-label col-sm-3 col-md-2 mr-1">Login</label>
                  <input type="text" class="right-col form-control col-sm-5" id="login" placeholder="Example Login">
                </div>
                <div class="form-row mb-2">
                  <label for="email" class="col-form-label col-sm-3 col-md-2 mr-1">Email</label>
                  <input type="email" class="right-col form-control col-sm-5" id="email" placeholder="example@mail.ru">
                </div>
                <div class="form-row mb-4">
                  <label for="nickname" class="col-form-label col-sm-3 col-md-2 mr-1">Nickname</label>
                  <input type="text" class="right-col form-control col-sm-5" id="nickname" placeholder="AccountName">
                </div>
                <div class="form-row mb-3">
                  <label for="avatar" class="custom-file-upload col-form-label col-sm-3 col-md-2 mr-1">Upload avatar</label>
                  <img src="../img/Toba.jpg" class="avatar-image mr-2" id="newAvatarImage" alt="new avatar image">
                </div>
                <div class="form-row mb-3">
                  <div class="col-sm-3 col-md-2 mr-1"></div>
                  <div id="fileButton" class="right-col form-control col-sm-5" onclick="getFile()">Click to upload an avatar</div>
                  <div style='height: 0px;width: 0px; overflow:hidden;'>
                    <input id="avatar" type="file" value="upload" onchange="sub(this)" />
                  </div>
                </div>
                <div class="form-row mb-3">
                  <div class="col-sm-3 col-md-2 mr-1"></div>
                  <button type="submit" class="right-col btn btn-outline-dark">Save!</button>
                </div>
              </form>
            </li>
          </ul>
        </div>
        <div class="col-2 sidebar">
          <div class="tags-wrap">
            <h4>Popular Tags</h4>
            <div class="tags">
              <p>Tags tags tags tags tags1 tags2 tagsagsysgg</p>
            </div>
          </div>
          <div class="best-memb-wrap">
            <h4>Best Members</h4>
            <div class="best-members">
              <ul class="list-unstyled">
                <li><a href=#>Aglicheev Mikhail</a></li>
                <li><a href=#>Toba</a></li>
                <li><a href=#>Aleksandrov Anatoliy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script></body>
</html>
