{% extends 'inc/base_unlogged.html' %}
{% load static %}

{% block title %}
<title>Sign up</title>
{% endblock title %}

{% block styles %}
<link href="{% static 'css/signup.css' %}" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/fileInput.js' %}" charset="UTF-8"></script>
{% endblock scripts %}

{% block content %}
<ul class="list-unstyled mr-5">
  <li class="top-bar mb-3">
    <h3 class="pr-2">Registration</h3>
  </li>
  <li>
    <p class="warning">Sorry, this email address is already registered!</p>
  </li>
  <li class="mb-3">
    <form enctype="multipart/form-data">
      <div class="form-row mb-2">
        <label for="login" class="col-form-label col-sm-3 col-md-2 mr-1">Login</label>
        <input type="text" class="right-col form-control col-sm-6" id="login" placeholder="example_login">
      </div>
      <div class="form-row mb-2">
        <label for="email" class="col-form-label col-sm-3 col-md-2 mr-1">Email</label>
        <input type="email" class="right-col form-control col-sm-6" id="email" placeholder="example@mail.ru">
      </div>
      <div class="form-row mb-3">
        <label for="nickname" class="col-form-label col-sm-3 col-md-2 mr-1">Nickname</label>
        <input type="text" class="right-col form-control col-sm-6" id="nickname" placeholder="Example Nickname">
      </div>
      <div class="form-row mb-2">
        <label for="password" class="col-form-label col-sm-3 col-md-2 mr-1">Password</label>
        <input type="password" class="right-col form-control col-sm-6" id="password" placeholder="********">
      </div>
      <div class="form-row mb-3">
        <label for="passwordRepeat" class="col-form-label col-sm-3 col-md-2 mr-1">Repeat password</label>
        <input type="password" class="right-col form-control col-sm-6" id="passwordRepeat" placeholder="********">
      </div>
      <div class="form-row mb-3">
        <label for="avatar" class="custom-file-upload col-form-label col-sm-3 col-md-2 mr-1">Upload avatar</label>
        <img src="{% static 'img/Toba.jpg' %}" class="file-image-preview mr-2" id="newAvatarImage" alt="new avatar image">
      </div>
      <div class="form-row mb-3">
        <div class="col-sm-3 col-md-2 mr-1"></div>
        <div id="fileButton" class="right-col form-control col-sm-6" onclick="getFile()">Click to upload an avatar</div>
        <div style='height: 0px;width: 0px; overflow:hidden;'>
          <input id="avatarFile" type="file" value="upload" onchange="sub(this)" />
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-3 col-md-2 mr-1"></div>
        <button type="submit" class="right-col btn btn-outline-dark">Register!</button>
      </div>
    </form>
  </li>
</ul>
{% endblock content %}
