{% extends 'inc/base.html' %}

{% load static %}

{% block title %}
<title>Sign up</title>
{% endblock title %}

{% block styles %}
<link href="{% static 'css/signup.css' %}" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/fileInput.js' %}" charset="UTF-8"></script>
{% endblock scripts %}

{% block content %}
<ul class="list-unstyled mr-5">
  <li class="top-bar mb-3">
    <h3 class="mr-2">Registration</h3>
  </li>
  <li>
    <p class="warning">Sorry, this email address is already registered!</p>
  </li>
  <li class="mb-3">
    <form enctype="multipart/form-data" action="{{ request.get_full_path }}" method="POST">
      {% csrf_token %}

      <div class="form-row mb-2">
        <label for="{{ form.username.id_for_label }}" class="col-form-label col-sm-3 col-md-2 mr-1">Login</label>
        {{ form.username }}
      </div>

      <div class="form-row mb-2">
        <label for="{{ form.email.id_for_label }}" class="col-form-label col-sm-3 col-md-2 mr-1">Email</label>
        {{ form.email }}
      </div>

      <div class="form-row mb-2">
        <label for="{{ form.password1.id_for_label }}" class="col-form-label col-sm-3 col-md-2 mr-1">Password</label>
        {{ form.password1 }}
      </div>

      <div class="form-row mb-md-2">
        <label for="{{ form.password2.id_for_label }}" class="col-form-label col-sm-3 col-md-2 mr-1">Repeat password</label>
        {{ form.password2 }}
      </div>

      <div class="form-row mb-2">
        <label for="{{ form.nickname.id_for_label }}" class="col-form-label col-sm-3 col-md-2 mr-1">Nickname</label>
        {{ form.nickname }}
      </div>

      <div class="form-row mb-3">
        <label for="{{ form.avatar.id_for_label }}"
         class="custom-file-upload col-form-label col-sm-3 col-md-2 mr-1 my-auto">Upload avatar</label>

        <div class="custom-image-file mr-2 col-sm-6 px-0">
          <img src="{% static 'img/Toba.jpg' %}" class="file-image-preview rounded  mb-2"
           id="newAvatarImage" alt="new avatar image">
          <div id="file_button_{{ form.avatar.id_for_label }}" class="file-button right-col form-control"
           onclick="getFile('{{ form.avatar.id_for_label }}')">Click to upload an avatar</div>
          {{ form.avatar }}
        </div>
      </div>

      <div class="form-row">
        <div class="col-sm-3 col-md-2 mr-1"></div>
        <button type="submit" class="right-col btn btn-outline-dark">Register!</button>
      </div>
    </form>
  </li>
</ul>
{% endblock content %}
