{% load static %}

<div class="avatar-likes d-flex flex-column align-items-center">
  <img src="{{ answer.author.avatar.url }}", class="avatar-image", alt="avatar image">
  <p class="nickname">{{ answer.author.nickname }}</p>
  <div class="likes-box d-flex flex-column align-items-center mb-auto">
    {% if answer.liked_or_disliked == 'Liked' %}
      <img src="{% static 'img/caret-up-fill.svg' %}" class="js-vote" id="answerLike{{ answer.id }}"
       data-action="unlike" data-answer_id="{{ answer.id }}" alt="like button">
    {% else %}
      <img src="{% static 'img/caret-up.svg' %}" class="js-vote" id="answerLike{{ answer.id }}"
       data-action="like" data-answer_id="{{ answer.id }}" alt="like button">
    {% endif %}

    <h4 class="likes-amount m-0" id="answerRating{{ answer.id }}">{{ answer.rating }}</h4>

    {% if answer.liked_or_disliked == 'Disliked' %}
      <img src="{% static 'img/caret-down-fill.svg' %}" class="js-vote" id="answerDislike{{ answer.id }}"
       data-action="undislike" data-answer_id="{{ answer.id }}" alt="dislike button">
    {% else %}
      <img src="{% static 'img/caret-down.svg' %}" class="js-vote" id="answerDislike{{ answer.id }}"
       data-action="dislike" data-answer_id="{{ answer.id }}" alt="dislike button">
    {% endif %}
  </div>
</div>