{% load static %}

<div class="avatar-likes d-flex flex-column align-items-center">
  <img src="{{ answer.author.avatar.url }}", class="avatar-image", alt="avatar image">
  <p class="nickname">{{ answer.author.nickname }}</p>
  <div class="likes-box d-flex flex-column align-items-center mb-auto">
    {% if answer.liked_or_disliked == 'Liked' %}
      <img src="{% static 'img/caret-up-fill.svg' %}" alt="like button">
    {% else %}
      <img src="{% static 'img/caret-up.svg' %}" alt="like button">
    {% endif %}

    <h4 class="likes-amount m-0">{{ answer.rating }}</h4>

    {% if answer.liked_or_disliked == 'Disliked' %}
      <img src="{% static 'img/caret-down-fill.svg' %}" alt="like button">
    {% else %}
      <img src="{% static 'img/caret-down.svg' %}" alt="like button">
    {% endif %}
  </div>
</div>