{% extends 'inc/navbar.html' %}
{% load static %}

{% block navbar-user %}
<li>
  <a class="nav-link p-0" href="#">
    <img src="{{ user.avatar.url }}" class="avatar-image" alt="avatar image">
  </a>
</li>
<li>
  <ul class="account-info list-unstyled ml-2">
    <li class="account-name">{{ user.nickname }}</li>
    <li>
      <a id="settings-link" href="{% url 'settings' %}">Settings</a>
      <a id="logout-link" href="{% url 'login' %}">LogOut</a>
    </li>
  </ul>
</li>
{% endblock navbar-user %}
