{% load static %}

<li class="question-block d-flex rounded pl-2 pt-1 pb-2 mb-2">
  {% include 'inc/question_likesbox.html' %}
  <div class="question-body flex-grow-1 d-flex flex-column ml-3">
    <a href="{% url 'question' question.id %}"><h3>{{ question.title }}</h3></a>
    <p>{{ question.text }}</p>
    <div class="bottom-info mt-auto mb-1 d-inline-flex align-items-end">
      <a href="{% url 'question' question.id %}#answersStart" class="mr-2">Answers ({{ question.answers_amount }})</a>
      <ul class="list-unstyled">
        <li>Published: {{ question.publishing_date }}</li>
        <li>
          <ul class="list-inline list-inline-item">
              <li class="list-inline-item">Tags:</li>
              {% for tag in question.tags.all %}
              <li class="list-inline-item">
                  <a href="{% url 'tag' tag %}">{{ tag.name }}</a>
              </li>
              {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</li>
